.container{
    /*display: table;*/
    margin-top: 20px;
    background-color: #EEFFEE; 
    padding: 10px;
    height: 150px;   
}
/*.container:hover{    
    background-color: #EEEEFF;    
}*/
.container-hover{  
    background-color: #EAEAFF;     
}
.content{
    height: 110px
}
.form-content{
    height: 130px
}
/*.botton-panel {        
}*/
.group{
    height: 30px;  
}