.container{
    margin-top: 20px;
    background-color: #EEFEEE; 
    padding: 10px;
    height: 140px;   
}
/*.container:hover{    
    background-color: #EEEEFF;    
}*/
.container-hover{  
    background-color: #AAAAFE;     
}